.button_class {
  outline: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  @apply py-2 px-4 rounded-lg;
  &:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
    outline: none;
  }
}

.connect_width {
  width: 22.5rem;
}